@font-face {
    font-family: mikhak;
    src: url("../fonts/mikhak/Mikhak-VF-FD[wght\,KSHD\,DSTY].woff2");
}

$main-color : #c71b1b;
$second-color : #fd8585;
$darker-color : rgb(17, 17, 17);
$dark-color : #363636;
$info-color : #d145ae;

body {
    font-family: mikhak;
}

.link-1 {
    color: $main-color;
    transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;

    &:hover {
        color: darken($color: $main-color, $amount: 20);
    }
}

.z-index-100 {
    z-index: 100 !important;
}

.title-1 {
    padding-bottom: 5px;
    border-bottom: 1px solid $dark-color;
}

.title-2 {
    color: $main-color;
    border-bottom: 1px solid $second-color;
}

.main-color {
    color: $main-color;
}

.mega-show {
    right: 0 !important;
}

.myShow {
    display: block !important;
}

.nav-show {
    right: 0 !important;
}

.link-main {
    color: $main-color;

    &:hover {
        color: $main-color;
    }
}

.product-title {
    border-bottom: 2px solid $main-color;
    padding-bottom: 5px;
    margin-bottom: 16px;
    padding-right: 1rem;
    padding-left: 1rem;
}



#header {
    background-color: $dark-color;
    box-shadow: 0 0 6px 2px $darker-color;

    #sth_lg_screen_tollger {
        cursor: pointer;
    }

    .myDropdown {
        display: none;
        z-index: 50;
        width: 150px !important;
        right: -100px !important;
        top: 40px !important;
        background-color: $dark-color;

        ul {

            li {
                transition: all 432ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                -webkit-transition: all 432ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                -moz-transition: all 432ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                -ms-transition: all 432ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                -o-transition: all 432ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

                &:hover {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .drop-toggle {
        background: url("../images/3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        cursor: pointer;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    #mega_menu_toggle {

        &:hover #store_mega_menu {
            opacity: 1 !important;
            visibility: visible !important;
            transform: translate(0, 0) !important;
            -webkit-transform: translate(0, 0) !important;
            -moz-transform: translate(0, 0) !important;
            -ms-transform: translate(0, 0) !important;
            -o-transform: translate(0, 0) !important;
            z-index: 100 !important;
        }
    }

    .position-relative-1 {
        position: relative !important;
        overflow-y: scroll;

    }

    #store_mega_menu {
        background-color: $second-color;
        border-radius: 3px;

        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;

        .list-1 {
            li {

                transition: all 432ms cubic-bezier(0.215, 0.610, 0.355, 1);
                -webkit-transition: all 432ms cubic-bezier(0.215, 0.610, 0.355, 1);
                -moz-transition: all 432ms cubic-bezier(0.215, 0.610, 0.355, 1);
                -ms-transition: all 432ms cubic-bezier(0.215, 0.610, 0.355, 1);
                -o-transition: all 432ms cubic-bezier(0.215, 0.610, 0.355, 1);

                a {
                    color: $darker-color;
                }
            }

            li:hover {
                font-size: .9rem;
            }
        }

        transition: all 432ms cubic-bezier(0.39, 0.575, 0.565, 1);
        -webkit-transition: all 432ms cubic-bezier(0.39, 0.575, 0.565, 1);
        -moz-transition: all 432ms cubic-bezier(0.39, 0.575, 0.565, 1);
        -ms-transition: all 432ms cubic-bezier(0.39, 0.575, 0.565, 1);
        -o-transition: all 432ms cubic-bezier(0.39, 0.575, 0.565, 1);
        transform: translate(0, 50px);
        -webkit-transform: translate(0, 50px);
        -moz-transform: translate(0, 50px);
        -ms-transform: translate(0, 50px);
        -o-transform: translate(0, 50px);
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }

    #small_screen_navbar {
        background-color: $dark-color;
        box-shadow: 0 0 6px 2px $darker-color;
        z-index: 1000;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -305px;
        width: 300px;

        #store_click {
            &::before {
                content: "";
                position: absolute;
                border: 5px solid transparent;
                border-right-color: $main-color;
                left: 100px;
                top: 10px;
            }
        }

        #sm_sc_nav_closer {
            top: 10px;
            left: 15px;
            cursor: pointer;
        }

        #small_screen_mega_menu {
            background-color: $dark-color;
            overflow-y: scroll;
            overflow-x: hidden;
            box-shadow: 0 0 6px 2px $darker-color;
            top: 0;
            bottom: 0;
            right: -100%;
            width: 100% !important;
            transition: all 432ms cubic-bezier(0.39, 0.575, 0.565, 1);
            -webkit-transition: all 432ms cubic-bezier(0.39, 0.575, 0.565, 1);
            -moz-transition: all 432ms cubic-bezier(0.39, 0.575, 0.565, 1);
            -ms-transition: all 432ms cubic-bezier(0.39, 0.575, 0.565, 1);
            -o-transition: all 432ms cubic-bezier(0.39, 0.575, 0.565, 1);

            #closer {
                top: 10px;
                left: 15px;
                cursor: pointer;
            }



            .list-2 {
                li {
                    a {
                        color: $second-color;
                        transition: all 432ms cubic-bezier(0.215, 0.610, 0.355, 1);
                        -webkit-transition: all 432ms cubic-bezier(0.215, 0.610, 0.355, 1);
                        -moz-transition: all 432ms cubic-bezier(0.215, 0.610, 0.355, 1);
                        -ms-transition: all 432ms cubic-bezier(0.215, 0.610, 0.355, 1);
                        -o-transition: all 432ms cubic-bezier(0.215, 0.610, 0.355, 1);
                    }
                }

                li:hover a {
                    color: $main-color;
                }
            }

        }

        transition:all 432ms ease-in-out;
        -webkit-transition:all 432ms ease-in-out;
        -moz-transition:all 432ms ease-in-out;
        -ms-transition:all 432ms ease-in-out;
        -o-transition:all 432ms ease-in-out;

    }
}


#best_offer {
    background-color: $info-color;
}

#products {
    .father
    {
        vertical-align: top !important;
        
    }
    
    .main
    {
       display: inline-block;
       width: 60% ;
    
    }
    .aside
    {
        padding-bottom: 0 !important;
        position: sticky ;
        bottom: 0;
        display: inline-block;
        width: 35% ;
    }
    .card {
        transition: all 432ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -webkit-transition: all 432ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -moz-transition: all 432ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -ms-transition: all 432ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -o-transition: all 432ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .main div:hover>.card {
        box-shadow: 0 0 15px -2px lighten($color: $main-color, $amount: 10);

        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }

    .aside .card img {
        transition: all 432ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -webkit-transition: all 432ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -moz-transition: all 432ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -ms-transition: all 432ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        -o-transition: all 432ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .aside .card:hover img {
        transform: scale(1.1, 1.1) rotateZ(-15deg);
        -webkit-transform: scale(1.1, 1.1) rotateZ(-15deg);
        -moz-transform: scale(1.1, 1.1) rotateZ(-15deg);
        -ms-transform: scale(1.1, 1.1) rotateZ(-15deg);
        -o-transform: scale(1.1, 1.1) rotateZ(-15deg);
}

   
}