@media (max-width :992px) {
    .shadow-md-none {
        box-shadow: none !important;
    }
    .main
    {
        display: block;
        position: relative;
        width: 100% !important;
    }
    .aside
    {
        position: relative !important;
        display: block;
        width: 100% !important;
    }

}

