@font-face {
  font-family: mikhak;
  src: url("../fonts/mikhak/Mikhak-VF-FD[wght,KSHD,DSTY].woff2"); }

body {
  font-family: mikhak; }

.link-1 {
  color: #ee1111;
  transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out; }
  .link-1:hover {
    color: #8f0a0a; }

#header {
  background-color: #fd8585;
  box-shadow: 0px -4px 10px 5px #e11; }
  #header #user_dropdown {
    transform: translate(-35%, 20%) !important;
    -webkit-transform: translate(-35%, 20%) !important;
    -moz-transform: translate(-35%, 20%) !important;
    -ms-transform: translate(-35%, 20%) !important;
    -o-transform: translate(-35%, 20%) !important; }
